:root {
  --primary-color: #272142;
}

body {
  font-family: "Nunito", sans-serif;
}

.nav-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.active-nav {
  color: #662eed;
}

header {
  text-align: center;
  color: white;
  padding: 44px 0;
  margin-top: 135px;
  background-color: var(--primary-color);
  background-image: url("../images/overlay.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-title {
  font-size: 72px;
  line-height: 98px;
  font-weight: 700;
}

.header-text {
  font-size: 24px;
  line-height: 35px;
  font-weight: 700;
  max-width: 560px;
  margin: 0 auto;
}

/*content*/
.recipes {
  margin-top: 100px;
}
.recipes-title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  margin: 10px 0 50px;
  text-decoration: none;
  color: #272142;
}
.recipes-img {
  max-height: 560px;
}

/* footer */
footer {
  padding: 39px 140px;
  background-color: #f9f7fe;
}
.social-media {
  display: flex;
  align-items: center;
}

.social-media a {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  text-decoration: none;
}

.inst-icon {
  padding: 0 30px;
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

/*about*/
.about-title {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  margin: 126px 0;
}

.about-section {
  max-width: 960px;
  margin-bottom: 100px;
}

.about-description {
  margin-top: 70px;
  padding-left: 40px;
}

.description-title {
  font-size: 64px;
  font-weight: 700;
}

.description-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.description-social-media {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.description-social-media a {
  font-size: 16px;
  color: var(--primary-color);
  text-decoration: none;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 41px;
}

.favorite-recipe {
  margin: 0 auto 100px;
}

.favorite-recipe-name {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}

.favorite-recipe-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  max-width: 350px;
}

/*responsivness*/
@media (max-width: 1181px) {
  .recipes-title {
    font-size: 22px;
  }
  .recipes {
    margin-top: 50px;
  }
  .recipes-title {
    margin: 10px 0 30px;
  }
  header {
    margin-top: 90px;
  }
}

@media (max-width: 992px) {
  footer {
    text-align: center;
    padding: 20px 0px;
  }
  .social-media {
    margin: 20px 0;
    justify-content: center;
  }
}

@media (max-width: 641px) {
  .header-title {
    font-size: 39px;
    margin: 0;
  }
  .header-text {
    font-size: 20px;
    line-height: 28px;
    padding: 0 20px;
  }
}
