:root {
  --primary-color: #272142;
}

body {
  font-family: "Nunito", sans-serif;
}

.nav-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.active-nav {
  color: #662eed;
}

header {
  text-align: center;
  color: white;
  padding: 44px 0;
  margin-top: 135px;
  background-color: var(--primary-color);
  background-image: url("../images/overlay.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-title {
  font-size: 72px;
  line-height: 98px;
  font-weight: 700;
}

.header-text {
  font-size: 24px;
  line-height: 35px;
  font-weight: 700;
  max-width: 560px;
  margin: 0 auto;
}

/*content*/
.recipes {
  margin-top: 100px;
}
.recipes-title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  margin: 10px 0 50px;
  text-decoration: none;
  color: #272142;
}
.recipes-img {
  max-height: 560px;
}

/* footer */
footer {
  padding: 39px 140px;
  background-color: #f9f7fe;
  margin-top: 50px;
}
.social-media {
  display: flex;
  align-items: center;
}

.social-media a {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  text-decoration: none;
}

.inst-icon {
  padding: 0 30px;
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

/*about*/
.content-title {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  margin: 126px 0;
}

.content-section {
  max-width: 960px;
  margin-bottom: 100px;
}

.about-description {
  margin-top: 70px;
  padding-left: 40px;
}

.description-title {
  font-size: 64px;
  font-weight: 700;
}

.description-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.description-social-media {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.description-social-media a {
  font-size: 16px;
  color: var(--primary-color);
  text-decoration: none;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 41px;
}

.favorite-recipe {
  margin: 0 auto 100px;
}

.favorite-recipe-name {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
  text-decoration: none;
  color: var(--primary-color);
}

.favorite-recipe-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding-right: 30px;
}

/*recipe-container*/
.recipe-container {
  max-width: 760px;
}

.recipe-collection-title {
  font-size: 36px;
  font-weight: 700;
  margin: 42px 0 32px;
}

.step-title {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  border-bottom: #67d5d2 dashed 1px;
  padding-bottom: 25px;
}

.ingrediants {
  list-style: none;
  padding-left: 0;
}

.ingrediants li {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: #67d5d2 dashed 1px;
}

.method h4 {
  font-size: 18px;
  font-weight: 800;
  color: #f65282;
  margin-bottom: 14px;
}

.method p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.step-2 {
  margin-top: 33px;
}

.method {
  padding: 0 10px 0 0;
}

.ingrediant-item {
  padding: 0 0 0 10px;
}

/*contact*/
.contact-title {
  font-size: 18px;
  font-weight: 700;
  color: #662eed;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 24px;
  font-weight: 400;
  color: #272142;
  margin-bottom: 50px;
}

/*responsivness*/
@media (max-width: 1181px) {
  .recipes-title {
    font-size: 22px;
  }
  .recipes {
    margin-top: 50px;
  }
  .recipes-title {
    margin: 10px 0 30px;
  }
  header {
    margin-top: 90px;
  }
  .about-section,
  .favorite-recipe {
    text-align: center;
  }
  .favorite-recipe-description {
    margin-bottom: 20px;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  footer {
    text-align: center;
    padding: 20px 0px;
  }
  .social-media {
    margin: 20px 0;
    justify-content: center;
  }
  .favorite-recipe {
    padding: 0 30px;
  }
  .content-title {
    margin-bottom: 50px;
  }
  .content-section {
    margin-bottom: 50px;
    text-align: center;
  }
  .about-description {
    padding-left: 10px;
    margin-top: 20px;
  }
  .ingrediant-item {
    margin-bottom: 20px;
  }
  .ingrediant-item,
  .method {
    padding: 0 20px;
  }
}

@media (max-width: 641px) {
  .header-title {
    font-size: 39px;
    margin: 0;
  }
  .header-text {
    font-size: 20px;
    line-height: 28px;
    padding: 0 20px;
  }
}
.content-title,
.description-title {
  font-size: 50px;
}
.recipe-container {
  padding: 0 20px;
}
.recipe-collection-title {
  font-size: 26px;
}
